server:
  port: 8080
  servlet:
    context-path: /videolocadora

spring:
  application:
    name: VideoLocadora
  servlet:
    encoding:
      force: true
  profiles:
    active: ${PROFILE:local,development}
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db.migration
    encoding: UTF-8
  messages:
    default-locale: pt-BR
    basename: messages
    encoding: UTF-8
    fallback-to-system-locale: true
  docker:
    compose:
      enabled: true
      file: docker-compose.yml

management:
  endpoints:
    web:
      exposure:
        include: 'openapi, swagger-ui'

springdoc:
  show-actuator: true
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
  api-docs:
    path: /api-docs

